# Build Zephyr
build*/
*.elf
*.hex
*.bin
*.map

# West modules
modules/
zephyr/
bootloader/
tools/

# Cache west
.west/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

doc/Config_ditemx/zmk/
doc/Config_ditemx/modules/
doc/Config_ditemx/build/